:root {
    /* Base colors: */
    --primary-color: #532E94;
    --secondary-color: #403B44;
    --terciary-purple: #7d068b;
    --logo-purple: #482683;
    --logo-pink: #d1037f;

    /* Text colors: */
    --text-color: #272727;
    --text-accent: #CF007F;

    /* Background colors: */
    --white-background: #EFEEF4;
    --gray-background: #B8B6C2;
    --white-background-2: #DDDCE6;

    /* Fonts: */
    @font-face {
        font-family: "Museo Sans";
        src: local("Museo Sans"),
        url(../fonts/Merienda/MuseoSans_500.otf) format("otf");
    }



    /* Definitions: */
    background-color: var( --white-background-2 );
    color: var(--text-color );
    font-family: "Museo Sans", sans-serif;
    font-size: 18px;
    font-weight: 300;

}

body {
    background-color: #efeef4;
    background-image: url("data:image/svg+xml,%3Csvg width='52' height='26' viewBox='0 0 52 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23532e94' fill-opacity='0.02'%3E%3Cpath d='M10 10c0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6h2c0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4 3.314 0 6 2.686 6 6 0 2.21 1.79 4 4 4v2c-3.314 0-6-2.686-6-6 0-2.21-1.79-4-4-4-3.314 0-6-2.686-6-6zm25.464-1.95l8.486 8.486-1.414 1.414-8.486-8.486 1.414-1.414z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

a {
    color: var(--primary-color);
}

a:hover {
    color: var(--text-accent);
}

body {
    margin: 0;
    padding: 0;
}
